@import url(https://use.typekit.net/rco6seo.css);@charset "UTF-8";

/* @font-face {
    font-family: mainFont;
    src: url('../font/AktivGroteskCorp-Light.ttf');
  } */

  /*
  *{font-family: aktiv-grotesk, sans-serif !important;}
  */

  @font-face {
    font-family: h1;
    src: url('../font/arial-black.ttf');
  }

  @font-face {
    font-family: primary;
    src: url('../font/arial.ttf');
  }


  *{
      font-family: primary !important;
      /* border:0.4px solid red */
    }
  h1, h2, h3, h4, h5, h6, .title{font-family: h1 !important;}

  p, pre{
      font-size: 16px !important;
      /* width: 100% !important; */
      /* white-space: normal !important; */
      /* display: block !important; */
      /* overflow: hidden !important; */
}

.paragraph * {
    text-align: left !important;
}

.calendar{
    /* border:0.5px solid #E9EBEC; */
    text-align: left;
    padding-left: 2px !important;
    padding-right: 2px !important;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;

}

.calendar h6{color: black;padding: 4px 0px 4px 0px}

.action-title {
    display: inline-block;
    padding: 4px 40px 4px 10px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.action-title-nopad {
    display: inline-block;
    padding: 10px 0px 0px 10px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
